{% extends 'coach/dashboardCoach.html.twig' %}

{% block javascripts %}
    {{ parent() }}
     <script>
    //Le script utilise la bibliothèque jQuery, qui doit être incluse sur la page pour que ce code fonctionne.
        $(document).ready(function () {
            // ajoute un gestionnaire d'événements sur l'élément HTML input avec l'attribut name "search". 
           // Ce gestionnaire est déclenché à chaque fois que l'utilisateur saisit une valeur dans l'input.

            $('input[name="search"]').on('input', function () {

            //Le code trouve ensuite le formulaire parent de l'élément input en utilisant la méthode "closest"
            //puis le soumet en appelant la méthode "submit".

                $(this).closest('form').submit();

         ///En conséquence, lorsque l'utilisateur tape quelque chose dans l'input, le formulaire est soumis automatiquement
         /// , ce qui déclenche la recherche en utilisant la valeur de l'input.
            });
        });
    </script>
{% endblock %}

{% block coach %}
 <!-- Topbar Search -->
                 <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="{{ path('app_evenement_recherche') }}">
                        <div class="input-group">
                            <input name="search" type="text" class="form-control bg-light border-0 small js-search-input" placeholder="Recherche selon adresse,nom..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            {# <input value="Recherche" type="submit" class="form-control bg-light border-0 small"> #}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                    <div class="col-lg-4">
                                <a style ="justify-content: center;display: inline-flex;width: 140px!important;height: 
                                35px;background-color: #4c71de;color: white;padding-top: 5px;border-radius: 10px;" 
                                href="{{ path('calendrier') }}">Calendrier</a>
                                <a style ="justify-content: center;display: inline-flex;width: 140px!important;height: 
                                35px;background-color: #4c71de;color: white;padding-top: 5px;border-radius: 10px;" 
                                href="{{ path('pdf') }}">pdf</a>
                            </div>
                    </nav>
                                
                    </nav>
 <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <div style="display :flex;">
                            <div class="col-lg-10">
                            <p class="mb-4"></p>
                            </div>

                            <div class="col-lg-2">
                                <a style ="justify-content: center;display: inline-flex;width: 140px!important;height: 
                                35px;background-color: #4c71de;color: white;padding-top: 5px;border-radius: 10px;" 
                                href="{{ path('app_evenement_new') }}">Nouvel événement</a>
                            </div>
                    </div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Evenements disponibles</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Type</th>
                                            <th>Date</th>
                                            <th>Adresse</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                     
                                        {% for evenement in evenements %}
                                            <tr>
                                                <td>{{ evenement.id }}</td>
                                                <td>{{ evenement.nom }}</td>
                                                <td>{{ evenement.type }}</td>
                                                 <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }} <br></br>
                                           <span style="color:red;"> Il vous reste {{ evenement.joursRestants() }} jours!</td> 
                                                <td>{{ evenement.adresse }}</td>
                                                <td style="display: flex;" >
                                                    <a style="justify-content: center;
    display: inline-flex;
    width: 90px!important;
    height: 35px;
    background-color: #4c71de;
    color: white;
    padding-top: 5px;
    border-radius: 10px;
    margin: 0px 3px 0px 3px;" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">Afficher</a>
    
                                                    <a style="justify-content: center;
    display: inline-flex;
    width: 90px!important;
    height: 35px;
    background-color: #4c71de;
    color: white;
    padding-top: 5px;
    border-radius: 10px;
    margin: 0px 3px 0px 3px;"  href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">Modifier</a>


           <form style="width: 4px;margin: 0px 3px 0px 3px; " method="post" action="{{ path('app_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
             <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
            <button style="justify-content: center;
    display: inline-flex;
    width: 90px!important;
    height: 35px;
    background-color: #fd3838;
    color: white;
    padding-top: 5px;
    border-radius: 10px;"  class="btn">Supprimer</button>
                                                </form>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">no records found</td>
                                            </tr>
                                  {# <div class="align-center">{{knp_pagination_render(evenement)}}</div>    #}
                                        {% endfor %}


                                    </tbody>
                                </table>
                             <div class="card-footer bg-transparent p-0">
                        {# <!-- Pagination START -->
                         <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                            <!-- Content -->
                            <p class="mb-0 text-center text-sm-start"></p>
                            <!-- Pagination -->
                            <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                                {{ knp_pagination_render(evenements) }}
                            </nav>
                        </div>  
                        <!-- Pagination END --> #}
                    </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->
                    <div class="col-lg-2">
                                <a style ="justify-content: center;display: inline-flex;width: 140px!important;height: 
                                35px;background-color: #4c71de;color: white;padding-top: 5px;border-radius: 10px;" 
                                href="{{ path('app_evenement_date') }}">Trier selon date</a>
                            </div>




    
{% endblock %}
