{% extends 'baseBack.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
 
{# {{ dump(evenement)}} affiche l contenu mtaa l variable fel page bch taaref fama erreur walee #}

    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ evenement.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ evenement.adresse }}</td>
            </tr>
              <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>

            <tr>
                <th>image</th>
                {# <a href="{{ asset('uploads/brochures/' ~ product.brochureFilename) }}">View brochure (PDF)</a> #}
                <td>
                <img  src="{{ asset('Back/img/' ~ evenement.image )  }}" alt="" width="80" height="80" />
                {# {{ asset('Back/img' ~ evenement.image)  }} #}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
