{% extends 'admin/dashboardAdmin.html.twig' %}


{% block admin %}
        <div style="display:flex;">
        <div class="col-lg-8">
            <h1>Salle</h1>
        </div>
        <div class="col-lg-4" style="display :flex">
            <a style="justify-content: center; display: inline-flex; width: 90px!important; height: 35px; background-color: #4c71de;
                    color: white; padding-top: 5px; border-radius: 10px; margin: 0px 3px 0px 3px;"
                    href="{{ path('app_salle_index') }}">Retourner</a>

            <a style="justify-content: center; display: inline-flex; width: 90px!important; height: 35px; background-color: #4c71de;
                    color: white; padding-top: 5px; border-radius: 10px; margin: 0px 3px 0px 3px;"
                    href="{{ path('app_salle_edit', {'id': salle.id}) }}">Modifier</a>

            <form style="width: 4px;margin: 0px 3px 0px 3px; width: 80px!important;" method="post" action="{{ path('app_salle_delete', {'id': salle.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle.id) }}">
                <button style="justify-content: center; display: inline-flex; width: 90px!important; height: 35px;
                background-color: #fd3838; color: white; padding-top: 5px; border-radius: 10px;"  
                class="btn">Supprimer</button>
            </form>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ salle.nom }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ salle.capacite }}</td>
            </tr>
            <tr>
                <th>Equipement</th>
                <td>{{ salle.equipement }}</td>
            </tr>
             <tr>
                <th>Academie</th>
                <td>{{ salle.academie.nom }}</td>
            </tr>

             
        </tbody>
    </table>

  

{% endblock %}
