{% extends 'coach/dashboardCoach.html.twig' %}

{% block coach %}
    <div id="layoutSidenav_content">
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}} ) }}
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h3 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Modifier mon profil
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Photo de profil</div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->
                                <img class="img-account-profile rounded-circle mb-2" style="width: 100px; height: 100px; object-fit: cover;" src="{{ asset('Client_img/' ~ app.user.image) }}" alt="" />
                                <!-- Profile picture help block-->
                                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                                <div class="small font-italic text-muted mb-4">JPG or PNG</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Information Profil</div>
                            <div class="card-body">
                                <div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputFirstName">Nom</label>
                                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputLastName">Prénom</label>
                                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.prenom,{'attr':{'class':'text-danger'}}) }}
                                        </div>
                                    </div>
                                    <!-- Form Group (email address)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress">Adresse e-mail</label>
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.email,{'attr':{'class':'text-danger'}}) }}
                                    </div>
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (phone number)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhone">Numéro de téléphone</label>
                                            {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.telephone,{'attr':{'class':'text-danger'}}) }}
                                        </div>
                                        <!-- Form Group (birthday)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputBirthday">Date de naissance</label>
                                            {{ form_widget(form.dateNaissance) }}
                                            {{ form_errors(form.dateNaissance,{'attr':{'class':'text-danger'}}) }}
                                        </div>
                                    </div>
                                    <!-- Save changes button-->
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Diplôme</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile mb-2"  src="{{ asset('diplome_img/' ~ app.user.diplome) }}" alt="" />
                            {{ form_widget(form.diplome, {'attr': {'class': 'form-control'}}) }}
                            <div class="small font-italic text-muted mb-4">JPG or PNG</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {{ form_end(form) }}
    </div>



{% endblock %}
