 {% extends '../baseFront.html.twig' %}
{% block title %}Les cours{% endblock %}
{% block body %}
<h1> les cours </h1>
    {% for c in cc %}
        <div class="container">
             <div class="feature-post small-blog text-center"> 
                <div class="col-md-7">
                    <div class="feature-cont text-center"> 
                        <div class="post-info text-center">
                            <h2><font color="#30458B"><b>{{ c.getNom() }}</b></font></h2>
                            <p><b>Date :   </b>{{ c.getDate() }} </p>
                            <p><b>Duree : </b>{{ c.getDuree() }}</p>
                            <p><b>Nbparticipants :</b> {{ c.getNbparticipants() }}</p>
                            <p><b>Salle :</b> {{ c.getSalle() }}</p>
                        </div>
                        <div class="post-heading">
                            <div class="full">
                                <a class="btn" style="background-color:#30458B; border-color:#daeee5; color:#daeee5" href="">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
 